body {
    font-family: Arial, sans-serif;
    background-image: url('abc.webp');
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2b7b91;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(247, 251, 252);
    text-decoration: none;
    padding: 5px 10px;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .btn {
    display: inline-block;
    background-color: #246675;
    color: rgb(237, 230, 230);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    margin-top: 10px;
  }